extends ../layout/index
block contenido 
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de Nosotros" class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote   Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex soluta praesentium incidunt odio quibusdam, vitae modi ut expedita ipsam minima corporis quam eos aliquam reiciendis optio eaque, autem tenetur maiores.
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias voluptas ea a corporis aliquam quod possimus laborum totam earum cumque facere nobis officia sint, id delectus. Placeat quae reprehenderit dignissimos! laborum totam earum cumque facere nobis officia sint, id delectus. Placeat quae reprehenderit dignissimos!
                p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga maiores alias temporibus nemo fugiat cumque facere consequuntur nulla doloremque voluptas amet quod cupiditate odio iusto quos, quis explicabo dolorum repellendus?
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque eaque sint quaerat aliquam perspiciatis animi quia.    
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque eaque sint quaerat aliquam perspiciatis animi quia.    
                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque eaque sint quaerat aliquam perspiciatis animi quia.    